<!DOCTYPE html>
<html>
<head>
  <title>TRI CITY Homes - Welcome</title>
  <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
  <header>
    <h1>Welcome to TRI CITY Homes</h1>
  </header>
  
  <main>
    <p>Thank you for joining us!</p>
    <p>We are excited to have you as a client/broker.</p>
  </main>
</body>
</html>
